.body{
    background-image: url("../img/bg.png");
}
.card{
    border: 0px;
}
.card-box{
    -webkit-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.28);
}
.card-header{
    border-color:white;
    background-color:white;
    border: 0px;
}

.img-profile{
    width:90%;
    margin-left: 5%;
}


.img-profile img{
    align-content: center !important;
    border-radius: 90px 40px 90px 40px;
    width: 100%;
    -webkit-border-radius: 90px 40px 90px 40px;
    border: 1px solid  rgb(141, 141, 141);
    opacity: 0.7;
    -moz-border-radius: 90px 40px 90px 40px;
    -ms-border-radius: 90px 40px 90px 40px;
    -o-border-radius: 90px 40px 90px 40px;
}

.media-sosial >li >a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.container{
    margin-top: 20px;
}
.
.kiri{
    background-color:white;
    border-radius:20;
    -webkit-border-radius:20;
    -moz-border-radius:20;
    -ms-border-radius:20;
    -o-border-radius:20;
}
.kanan{
     -webkit-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.28);
}

.menu-tab{
    margin-left: 20px;
    margin-top: 40px;
}
.menu-tab > li{
    margin-bottom: 10px;
}

.nav-item{
    background-color:rgb(255, 255, 255)
}
.nav-item > a:active{
    background-color:black
}
.nav-item > a:hover{
    background-color: rgb(189, 189, 189);
}
.nav-item > a:visited{
    background-color: rgb(189, 189, 189);
}
.title{
    text-align: left;
    margin-left: 10px;
}

.about-text{
    margin-left: 10px;
    text-align: justify;
}
.port-item{
    border:2px;
    display:flex;
    width:100%;
}

/* Skills */
.card ul li{
    text-align: left;
}
.card-subtitle{
    text-align: left;
    margin-left: 10px;
}

/* contact */
.contact{
    margin-bottom: 20px;
    text-align: left;
}
.info{
    margin-bottom: 15px;
    text-align: left;
    margin-left: 25px;
}

ul.info-item li{
    list-style-type: none;
    text-align: left;
}

/* footer */
.footer{
    background-color: rgb(3, 3, 3);
    height: 50px;
}
.copyright{
    color: whitesmoke;
    margin-top: 10px;
}
.footer-i{
    color: white;
}
.footer-i:link{
    color: white;
    text-decoration: none;
}
.footer-i:hover{
    color: white;
}

.Services{
    display: flex;
}

/* portfolio */
.portfolio{
    /* border: 1px solid #ccc; */
    margin-top: 20px;
}